@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(0, 0, 33);
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}

.left{
    font-size: 1.5rem;
    margin-left: 150px;
}

.main-text{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.main-text h1,h2{
    margin-top: 30px;
}

footer{
    background-color: #0e0e1a;
}

.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}

.footer ul li a{
    text-decoration: none;
    color: white;
}

.footer ul li a:hover{
    color: rgb(153, 153, 226);
    font-size: 1.01rem;
}

.img-foot{
    width: 23px;
}

.img-foot4{
    width: 40px;
}

footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}

@media screen and (max-width: 1400px){
    body{
        min-width: fit-content;
    }
}